{% extends 'reciperate_app/base.html' %}

{% block title_block %}
    Add a Recipe
{% endblock %}

{% block body_block %}
<h1>Add a Recipe</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Recipe Title:</label>
    {{ form.name }}<br><br>

    <label>Recipe URL:</label>
    {{ form.url }}<br><br>

    <label>Category:</label>
    {{ form.category }}<br><br>

    <label>Add Image:</label>
    {{ form.image }}<br><br>

    <button type="submit">Add Recipe</button>
</form>
{% endblock %}