<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
    <title>
        Reciperate{% block title_block %} {% endblock %}</title>
    <link rel = "stylesheet" href="{ % static 'css/style.css' %}">
</head>
<body>
<div class="navbar">
    <a href="{% url 'reciperate:index' %}">Home</a>
    <a href = "{% url 'reciperate:breakfast' %}">Breakfast</a>
    <a href = "{% url 'reciperate:lunch' %}">Lunch</a>
    <a href = "{% url 'reciperate:dinner' %}">Dinner</a>

    {%if user.is_authenticated %}
    <a href = "{% url 'reciperate:add_recipe' %}">Add a recipe</a>
     <!--    button to sign out INSERT HERE    -->
    {% else %}
    <a href = "{% url 'reciperate:signin' %}">Sign in</a>
    <a href = "{% url 'reciperate:signup' %}">Sign up</a>
    {% endif %}
</div>

{% block body_block %}
{% endblock %}
</body>
</html>
