<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
    <title>
        Reciperate{% block title_block %} {% endblock %}</title>
    <link rel = "stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="navbar">
    <a href = "{% url 'reciperate:home' %}">Home</a>
    <a href = "{% url 'reciperate:breakfast' %}">Breakfast</a>
    <a href = "{% url 'reciperate:lunch' %}">Lunch</a>
    <a href = "{% url 'reciperate:dinner' %}">Dinner</a>

    {%if user.is_authenticated %}
    <a href = "{% url 'reciperate:add_recipe' %}">Add a recipe</a>
    <a href = "{% url 'reciperate:sign_out' %}">Sign Out</a>
    {% else %}
    <a href = "{% url 'reciperate:sign_in' %}">Sign in</a>
    <a href = "{% url 'reciperate:sign_up' %}">Sign up</a>
    {% endif %}
</div>

{% block body_block %}
{% endblock %}
</body>
</html>
