{% extends "reciperate_app/base.html" %}
{% load staticfiles %}

{% block body_block %}
    <h2>Click below to sort by popular, newest, oldest, and alphabetical</h2>
    <div class="select-wrapper">
    <form method="get">
        <select name="sort" onchange="this.form.submit()">
            <option value="popular" {% if sort == 'popular' %}selected{% endif %}>Popular</option>
            <option value="newest" {% if sort == 'newest' %}selected{% endif %}>Newest</option>
            <option value="oldest" {% if sort == 'oldest' %}selected{% endif %}>Oldest</option>
            <option value="az" {% if sort == 'az' %}selected{% endif %}>A-Z</option>
        </select>
    </form>
    </div>
    <div class ="recipe_grid">
        {% for recipe in recipes %}
            <div class="recipe_card">
                <h2>{{ recipe.name }}</h2>
            {% if recipe.image %}
                <img src="{{ recipe.image.url }}" >
            {% endif %}
            <div class="recipe_url">
                <p>Recipe URL:</p>
                <a href="{{ recipe.url }}"> {{ recipe.url }}</a>
            </div>
            <div class="like_section">
            <span class="like_count">
                <p class="like_counter"> {{ recipe.like_count }} Likes </p>
            </span>
                {%if user.is_authenticated %}
                    {% if recipe.id in liked_posts %}
                    <button class="like_button"
                            data-recipe-id="{{ recipe.id }}"
                            aria-pressed="true"> Liked</button>
                    {% else %}
                    <button class="like_button"
                            data-recipe-id="{{ recipe.id }}"
                            aria-pressed="false"> Like</button>
                    {% endif %}
                {% endif %}
            </div>
            </div>
        {% endfor %}
    </div>

    <meta name="csrf-token" content="{{ csrf_token }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/category.js' %}"></script>
{% endblock %}

