{% extends 'reciperate_app/category.html' %}
{% load staticfiles %}

{% block title_block %}
    Lunch
{% endblock %}

{% block body_block %}
    <header class= "categoryHeader">
        <img src="{% static '../static/images/LunchGif3.gif' %}" alt="LunchGif3 GIF" class="header-gif">
        <img src="{% static '../static/images/LunchGif2.gif' %}" alt="LunchGif2 GIF" class="header-gif">
        <img src="{% static '../static/images/LunchGif1.gif' %}" alt="LunchGif1 GIF" class="header-gif">
        <br><br><br><br><br><br>
        <h1>Lunch</h1>
        <br><br><br><br><br><br>
        <img src="{% static '../static/images/LunchGif1.gif' %}" alt="LunchGif1 GIF" class="header-gif">
        <img src="{% static '../static/images/LunchGif2.gif' %}" alt="LunchGif2 GIF" class="header-gif">
        <img src="{% static '../static/images/LunchGif3.gif' %}" alt="LunchGif3 GIF" class="header-gif">
    </header>
{% endblock %}
