{% extends 'reciperate_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign In
{% endblock %}

{% block body_block %}
        <header class= "formHeader">
            <h1>Sign In</h1>
        </header>
    <div class="form_container">
        <form method="post" action="{% url 'reciperate:sign_in' %}">
            {% csrf_token %}
            <div class="form_group">
                Username: <input type="text" name="username" size="50" />
            </div>
            <div class="form_group">
                Password: <input type="password" name="password" size="50" />
            </div>
            <input type="submit" value="Sign In" />
        </form>
    </div>
{% endblock %}

}