{% extends 'reciperate_app/category.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign Up
{% endblock %}

{% block body_block %}
<header class="signHeader">
    <h1>Sign Up</h1>
</header>
    <div class="signInDiv">
        <form method="post">
            {% csrf_token %}
            Username: <input type="text" name="username" size="50" />
            {% if form.username.errors %}
                <span class="error">{{ form.username.errors }} </span>
            {% endif %}
            <br />
            Password: <input type="password" name="password" size="50" />
            {% if form.password.errors %}
                <span class="error">{{ form.password.errors }}</span>
            {% endif %}
            <br />
            <input type="submit" value="Sign Up" />
        </form>
    </div>
{% endblock %}