body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: burlywood;
    text-align: center;


    background-image: url('../images/BackgroundDots.jpg');
    background-repeat: repeat;


    h1 {
        font-size: 55px;
        color: darkred;
        font-family: serif;
        text-align: center;
        font-style: italic;
    }

}


header {
    display:block;
    width: 210px;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    text-align: center !important;
    background-image: url('../images/HeaderImage.jpg');
    padding: 40px 80px;
    margin: 0 auto;
}



.navbar {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
  background-color: rgba(158,137,93,0.9);
}

.navbar a {
    font-size: 17px;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: black;
}

.topnav a.active {
    background-color: black; color: white;
}

main {
    padding: 20px;
    background-color: burlywood;
}



